* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: block;
    margin: 50px;
    width: 600px;
    margin: 0px auto;
    border: 1px solid gray;  
}

.key {
    display: inline-block;
    width: 120px;
    height: 120px;
    font-size: 50px;
    text-align: center;
    align-content: center;
    border: 1px solid gray;
    border-radius: 5%;
    cursor: pointer;
    margin: 5px;
}

.out {
    
    padding-right: 5px;
    display: block;
    width: 580px;
    height: 60px;
    margin: 10px auto;
    border: 1px solid gray; 
    font-size: 50px; 
    text-align: right;
}